.mainCard{
  overflow: hidden;
}

.card {
  width: 240px;
  height: 240px;
  background-size: contain;
  color: white;
  font-size: 30px;
  background-image: url("https://source.unsplash.com/random");
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.title {
  color: white;
  font-size: 25px;
}
