.categoryList {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
  color: rgb(67, 76, 85);
}

.title {
  background-color: lightblue;
  color: rgb(67, 76, 85);
  text-align: center;
  padding: 5px;
}

.goodsList {
  display: flex;
  flex-wrap: wrap;
}

.error {
  background-color: lightblue;
  font-size: 26px;
  color: rgb(67, 76, 85);
  text-align: center;
  padding: 5px;
}
.error span {
  color: rgb(67, 76, 85);
}

.error span:hover {
  cursor: pointer;
  text-decoration: underline;
}

.errorPage {
  background-color: lightblue;
  font-size: 26px;
  color: rgb(67, 76, 85);
  text-align: center;
  padding: 5px;
}

.errorPage span {
  color: rgb(67, 76, 85);
}

.errorPage span:hover {
  cursor: pointer;
  text-decoration: underline;
}