.logos {
  margin: 5px;
  width: 95px;
  height: 70px;
  background-image: url("https://oz.by/img/module-header/logo@2x.v1637062249.png");
  background-size: contain;
}

:global(.ant-layout-header) {
  min-height: 80px;
  display: flex;
  align-items: center;
  background: white;
}

:global(.ant-badge) {
  font-size: 25px;
}

:global(.ant-input-search
    > .ant-input-group
    > .ant-input-group-addon:last-child
    .ant-input-search-button) {
  padding-top: 6px;
  padding-bottom: 6px;
}

.headerStyle {
  display: flex;
  justify-content: space-between;
}
