.banner {
  background: url("https://source.unsplash.com/random");
  background-size: contain;
}
.menuBox {
  margin-bottom: 10px;
}

.sideMenu_mob {
  display: none;
}

.error {
  font-size: 36px;
  color: red;
}

@media screen and (max-width: 800px) {
  .banner {
    display: none;
  }
  .sideMenu {
    display: none;
  }
  .sideMenu_mob {
    display: inline;
  }
}
