.tablePage {
  display: flex;
}

.filters {
  width: 40vw;
  padding: 50px;
}

.filtersTitle {
  font-size: 20px;
  font-weight: 600;
}

.titleItem {
  font-size: 18px;
}

.filterItem {
  margin-bottom: 20px;
}

.table {
  width: 60vw;
  padding: 50px;
}

@media screen and (max-width: 800px) {
  .tablePage {
    display: block;
  }

  .filters {
    width: 100vw;
  }
}
