.wrapper {
  max-width: 100%;
  min-height: 100vh;
  background: rgb(229, 229, 231);
}

h1 {
  text-align: center;
}

label {
  font-size: 15px;
  margin: 10px;
}

.userForm {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}

.userInput {
  font-size: 15px;
  max-width: 200px;
}

:global(.ant-input) {
  width: auto;
}
.button {
  min-width: 200px;
  min-height: 50px;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
  color: black;
}

.linkBtn {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.error {
  font-size: 15px;
  max-width: 200px;
  border: red solid 2px;
}

.errorPass {
  display: flex;
  position: relative;
  font-size: 10px;
  color: red;
}

.inputItem {
  position: relative;
  margin-bottom: 30px;
}

.errorMessage {
  position: absolute;
  bottom: -25px;
  left: 10px;
  color: red;
}

.errorPage {
  background-color: lightblue;
  font-size: 26px;
  color: rgb(67, 76, 85);
  text-align: center;
  padding: 5px;
}

.errorPage span {
  color: rgb(67, 76, 85);
}

.errorPage span:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (max-width: 800px) {
  .userForm {
    display: inline;
  }
}
